@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange";

.app {
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
    min-height: 100vh;
}

.app_redesigned {
    background: var(--bg-redesigned);
    min-height: 100vh;
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
}

.content-page {
    display: flex;
}

//*::-webkit-scrollbar {
//    width: 12px;               /* ширина scrollbar */
//    height: 8px;
//}
//
//*::-webkit-scrollbar-track {
//    //background: var(--light-bg-redesigned);        /* цвет дорожки */
//}
//
//*::-webkit-scrollbar-thumb {
//    //background-color: var(--icon-redesigned);    /* цвет плашки */
//    border-radius: 20px;       /* закругления плашки */
//    border: 1px solid var(--accent-redesigned);  /* padding вокруг плашки */
//}
//
//.app *::-webkit-scrollbar {
//    width: 12px;               /* ширина scrollbar */
//    height: 8px;
//}
//
//.app *::-webkit-scrollbar-track {
//    //background: var(--card-bg);        /* цвет дорожки */
//}
//
//.app *::-webkit-scrollbar-thumb {
//    //background-color: var(--inverted-primary-color);    /* цвет плашки */
//    border-radius: 20px;       /* закругления плашки */
//    //border: 2px solid var(--primary-color);  /* padding вокруг плашки */
//}

*::-webkit-scrollbar {
    width:6px;
    height:6px;
    background:rgba(0,0,0,0);
    border-radius:6px
}
*::-webkit-scrollbar-thumb {
    width:6px;
    height:6px;
    background:#cad1f4;
    border:3px solid rgba(0,0,0,0);
    border-radius:6px
}
*::-webkit-scrollbar-thumb:hover {
    background:#9aa6ea
}
*::-webkit-scrollbar-track {
    background-color:rgba(0,0,0,0)
}
*::-webkit-scrollbar-corner {
    background-color:rgba(0,0,0,0)
}
*::-webkit-scrollbar-button {
    display:none
}