.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;

    .switchers {
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .lang {
        margin-left: 20px;
    }

    .items {
        margin-left: 20px;
        margin-top: 20px;
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }

    .items {
        margin-left: 0px;
        display: flex;
        align-items: center;
    }
}


.SidebarRedesigned {
    background: var(--light-bg-redesigned);
    width: 220px;
    height: 100%;
    border-radius: 32px;
    position: relative;

    .appLogo {
        padding-top: 20px;
    }

    .items {
        margin-top: 40px;
    }

    .switchers {
        position: absolute;
        bottom: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 16px;
    }
}

.collapsedRedesigned {
    width: 50px;

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .items {
        display: flex;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }

    .switchers {
        flex-direction: column;
        align-items: center;
    }
}