.NotificationWrapper {
    padding: 24px;
    overflow-x: hidden;
    width: auto !important;
}

.NotificationTopTitle {
    margin-bottom: 1.5rem !important;
}

.NotificationList {
    // TODO:
    //min-height: 87vh;
}

.NotificationItem {
    background: #f4f7fe;
    border-radius: 8px;
    padding: 16px;
}

.NotificationItemSkeleton {
    background: #f4f7fe;
}
