.card {
  width: calc(100% - 330px);
}

.divider {
  width: 100%;
}

.settings {
  &__article {
    width: 100%;
    padding-bottom: 8px;
    margin-top: 24px;
  }
}

.itemSubtext {
  color: #72899d;
}

.deleteSubText {
  opacity: 0.5;
}