.ProfileCard {
  //min-width: 600px;
  display: flex;
}

.loading,
.error {
  height: 300px;
}

.fullWidth {
  width: 100%;
}

.input {
  min-width: 300px;
}

.cardMediaWrapper {
  //height: 100%;
}

.cardMedia {
  height: 100% !important;
}