.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.NavbarRedesigned {
    padding: 16px;
}

.links,
.actions {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.appName {
    width: var(--sidebar-width);
    margin-left: 15px;
}

.AppBar {
    display: flex !important;
    gap: 13px !important;
}

.IconButton {
    margin-right: 13px !important;
}

.IconLogoWrapper {
    margin-right: 4px;
}
.IconLogo {
    position: relative;
    bottom: 2px;
}
