.BIG {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .card {
        margin-bottom: 30px;
        width: calc(50% - 15px);
    }
}

.SMALL {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .card {
        display: inline-flex;
        height: 300px;
        width: 220px;
    }

    .row {
        display: flex;
        gap: 30px;
    }
}
